.difficulty{
    background-color: rgb(226, 198, 41);
    width: fit-content;
    border-radius: 5px;
}
.type{
    background-color: black;
    color: white;
    width: fit-content;
    border-radius: 5px;
}
.correctanswer{
    background-color: green;
    color: white;
    width: fit-content;
    border-radius: 2px;
}
.category{
    background-color: yellow;
    color: black;
    width: fit-content;
    border-radius: 5px;
}
div{
    background-color: black;
    align-items: center;
    
    width: 80%;
    border: 15px solid gray;
    color: rgb(110, 187, 22);
    border-radius: 10px;
    margin: 10px;

}
div p{
    display: flex;
    align-items: center;
    margin: 2px;
    flex-direction: row;
    
}
body{
    background-color: white;
    
}
body.darklight{
    background-color: black;
}